<h1><%= t('listing', name: t('list.title', count: 1)) %></h1>

<table class="table table-striped table-hover">

 <tr>
   <th scope="row"><%= t('list.product') %>:</th>
   <td><%= @list.product %></td>
 </tr>
 <tr>
   <th scope="row"><%= t('list.quantity') %>:</th>
   <td><%= @list.quantity %></td>
 </tr>
 <tr>
   <th scope="row"><%= t('list.bought') %>:</th>
   <td><%= @list.bought %></td>
 </tr>

</table>

<%= link_to t('edit'), edit_list_path(@list), class: 'btn btn-primary', role: :button %>
<%= link_to t('index'), lists_path, class: 'btn btn-outline-secondary', role: :button %>
